body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: row;
    height: 100vh;
    align-items: flex-start;
}
#sidebar {
    width: 250px;
    padding: 20px;
    background: #f2f2f2;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
}
#sidebar button, #sidebar select {
    width: 100%; /* Makes the button and select list take full width of the sidebar */
    box-sizing: border-box; /* Includes padding and border in the element's total width and height */
    margin-bottom: 20px; /* Adds space below the button and select */
}
#main {
    flex-grow: 1;
    padding: 20px;
}
#passage-display {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 20px;
    height: 200px;
    overflow: auto;
}
.button {
    padding: 10px 20px;
    margin-bottom: 10px;
    width: calc(100% - 40px); /* Adjust width considering padding */
}
input[type="text"] {
    width: calc(100% - 42px); /* Adjust width considering border */
    padding: 10px;
    margin-bottom: 10px;
}

#content-container {
    display: flex;
    position: relative;
}

#passage-display {
    flex: 1; /* Each box will take up an equal amount of space */
    border: 1px solid #ddd;
    margin: 10px; /* Add margin for spacing between the elements */
    padding: 20px;
    height: 700px; /* or whatever height you desire */
    overflow: auto;
}

/* Style for the modal */
.modal {
    position: absolute;
    z-index: 1000;
    bottom: 20px;
    right: 5px;
    width: 300px;
    height: 350px;
    overflow: auto;
    background-color: transparent;
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 3px;
    padding: 3px;
    border: 1px solid #888;
    width: auto;
    height: auto;
    touch-action: none; /* to allow dragging on touch devices */
  }

  .modal-header {
    cursor: move; /* Indicates the header is movable */
    touch-action: none;
    background-color: #f2f2f2; /* Header background color */
    padding: 10px; /* Header padding */
    border-bottom: 1px solid #ddd; /* Optional border for the header */
  }
  
  .close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close-button:hover,
  .close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }